body {
    width: 100%;
    height: auto;
}

.navbar {
    background-color: #E3E2E2;
}

.icon-bar {
    background-color: black;
}

.navbar-brand {
    margin: 0;
}

.navbar-nav {
    margin: 0;
}

.navbar-nav a {
    color: black;
}

#content {
    margin-top: 60px;
    margin-bottom: 20px;
}

.comments {
    clear: both;
}

.comments .odd {
    background: #eee;
}

#billetsChronologie h3 {
    margin-top: 10px;
}

#listeBillets {
    text-align: center;
}

#listeComments h4 {
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid black;
    text-align: center;
}

.footer {
    background-color: #E3E2E2;
}

.footer p {
    text-align: center;
}