blog_homepage:
    path:     /
    defaults: { _controller: BlogBundle:Blog:index }

blog_billet:
    path:     /billet/{id}
    defaults: { _controller: BlogBundle:Blog:billet }
    requirements:
        id: '\d+'

blog_billetsAdmin:
    path:    /admin/billets
    defaults: { _controller: BlogBundle:Blog:billetsAdmin }

blog_commentsAdmin:
    path:    /admin/comments
    defaults: { _controller: BlogBundle:Blog:commentsAdmin }

blog_commentsAdmin_delete:
    path:    /admin/comments/delete
    defaults: { _controller: BlogBundle:Blog:deleteComment }

blog_commentAdmin:
    path: /admin/comment/{id}
    defaults: { _controller: BlogBundle:Blog:commentAdmin}
    requirements:
        id: '\d+'

blog_login:
    path: /login
    defaults: { _controller: BlogBundle:Security:login }

blog_login_check:
    path: /login/check
    defaults: { _controller: BlogBundle:Security:loginCheck }

blog_logout:
    path: /logout
    defaults: { _controller: BlogBundle:Security:logout }