blog_homepage:
    path:     /
    methods: [ get, post ]
    defaults: { _controller: BlogBundle:Blog:index }




blog_billet:
    path:     /billet/{id}
    methods: [ get, post ]
    defaults: { _controller: BlogBundle:Blog:billet }
    requirements:
        id: '\d+'

blog_comment_signaled:
    path: /comment/signaled
    methods: [ get, post ]
    defaults: { _controller: BlogBundle:Blog:commentSignaled }



blog_adminBillets:
    path:    /admin/billets
    methods: [ get ]
    defaults: { _controller: BlogBundle:Admin/Blog:adminBillets }

blog_adminBillet_delete:
    path:    /admin/billets/delete
    defaults: { _controller: BlogBundle:Admin/Blog:adminBilletDelete }

blog_adminBillet_add:
    path:    /admin/billet/add
    methods: [ get, post ]
    defaults: { _controller: BlogBundle:Admin/Blog:adminBilletAdd }

blog_adminBillet_edit:
    path:    /admin/billet/edit
    methods: [ get, post ]
    defaults: { _controller: BlogBundle:Admin/Blog:adminBilletEdit }




blog_adminComments:
    path:    /admin/comments
    methods: [ get ]
    defaults: { _controller: BlogBundle:Admin/Comments:adminComments }

blog_adminCommentsByBillet:
    path: /admin/comment/billet/{id}
    methods: [ get ]
    defaults: { _controller: BlogBundle:Admin/Comments:adminCommentsByBillet }
    requirements:
        id: '\d+'

blog_adminCommentsByAuthor:
    path: /admin/comments/author
    methods: [ get ]
    defaults: { _controller: BlogBundle:Admin/Comments:adminCommentsByAuthor }

blog_adminComments_signaled:
    path: /admin/comments/signaled
    methods: [ get ]
    defaults: { _controller: BlogBundle:Admin/Comments:adminCommentsSignaled }

blog_adminComment_delete:
    path:    /admin/comments/delete
    defaults: { _controller: BlogBundle:Admin/Comments:adminCommentDelete }

blog_adminComment_edit:
    path:    /admin/comment/edit
    methods: [ get, post ]
    defaults: { _controller: BlogBundle:Admin/Comments:adminCommentEdit }



blog_login:
    path: /login
    defaults: { _controller: BlogBundle:Security:login }

blog_login_check:
    path: /login/check
    defaults: { _controller: BlogBundle:Security:loginCheck }

blog_logout:
    path: /logout
    defaults: { _controller: BlogBundle:Security:logout }




blog:
    resource: "@BlogBundle/Controller/BlogController.php"
    type:     annotation
