blog_homepage:
    path:     /
    defaults: { _controller: BlogBundle:Blog:index }




blog_billet:
    path:     /billet/{id}
    defaults: { _controller: BlogBundle:Blog:billet }
    requirements:
        id: '\d+'



blog_adminBillets:
    path:    /admin/billets
    defaults: { _controller: BlogBundle:Admin/Blog:adminBillets }

blog_adminBillet_delete:
    path:    /admin/billets/delete
    defaults: { _controller: BlogBundle:Admin/Blog:adminBilletDelete}

blog_adminBillet_add:
    path:    /admin/billet/add
    defaults: { _controller: BlogBundle:Admin/Blog:adminBilletAdd}

blog_adminBillet_edit:
    path:    /admin/billet/{id}/edit
    defaults: { _controller: BlogBundle:Admin/Blog:adminBilletEdit}
    requirements:
        id: '\d+'




blog_adminComments:
    path:    /admin/comments
    defaults: { _controller: BlogBundle:Admin/Comments:adminComments }

blog_adminCommentsByBillet:
    path: /admin/comment/billet/{id}
    defaults: { _controller: BlogBundle:Admin/Comments:adminCommentsByBillet}
    requirements:
        id: '\d+'

blog_adminCommentsByAuthor:
    path: /admin/comments/author
    defaults: { _controller: BlogBundle:Admin/Comments:adminCommentsByAuthor}

blog_adminComment_delete:
    path:    /admin/comments/delete
    defaults: { _controller: BlogBundle:Admin/Comments:adminCommentDelete}




blog_login:
    path: /login
    defaults: { _controller: BlogBundle:Security:login }

blog_login_check:
    path: /login/check
    defaults: { _controller: BlogBundle:Security:loginCheck }

blog_logout:
    path: /logout
    defaults: { _controller: BlogBundle:Security:logout }




blog:
    resource: "@BlogBundle/Controller/BlogController.php"
    type:     annotation
