<h4 style="text-align: center"><u>Administration et gestion du contenu</u></h4>
<hr/>
<a href="{{ path('blog_billetsAdmin') }}"><h5>Gestion des billets</h5></a>
<a href="{{ path('blog_commentsAdmin') }}">Gestion des commentaires</a>