{% extends "::base.html.twig" %}

{% block body %}
    <div class="col-md-10" id="billetEntier">
        <h2>{{ billet.title }}</h2>
        <p style="text-align: justify">{{ billet.content | nl2br }}</p>
        <div id="commentaires"></div>
    </div>
    {{ render(controller('BlogBundle:Blog:aside')) }}
{% endblock %}