{% extends "::base.html.twig" %}

{% block body %}
    {%  for billet in billets %}
        <h3>{{ billet.title }}</h3>
        <p>{{ billet.content }}</p>
        {%  for com in billet.comment %}
            <p>{{ com.content }}</p>
        {% endfor %}
    {% endfor %}
{% endblock %}