{% extends "::base.html.twig" %}

{% block body %}
    {%  for billet in billets %}
        <h3>{{ billet.title }}</h3>
        <p>{{ billet.content }}</p>
        {%  for comment in billet.comments %}
            <p>{{ comment.content }}</p>
        {% endfor %}
    {% endfor %}
{% endblock %}