{% extends "::base.html.twig" %}

{% block body %}
    <div class="col-md-10">
        <div class="container-fluid">
            <h2>Modération du commentaire :</h2>
            <br/>
        </div>

    </div>
{% endblock %}

{% block aside %}
    {{ include('BlogBundle::asideAdmin.html.twig') }}
{% endblock %}