<div id="listeComments">
    <h4>5 derniers commentaires</h4>
    {%  for billet in aside %}
        {%  for comment in billet.comments %}
            <p>
                <a href="{{ path('blog_billet', {'id' : billet.id}) }}#commentsContent">{{ comment.author }}</a>
                concernant le <strong>{{ billet.title }}</strong>
            </p>
        {% endfor %}
    {% endfor %}
</div>