body {
    width: 100%;
    height: auto;
}

.navbar {
    background-color: #E3E2E2;
}

.icon-bar {
    background-color: black;
}

.navbar-brand {
    margin: 0;
}

.navbar-nav {
    margin: 0;
}

.navbar-nav a {
    color: black;
}

#content {
    margin-bottom: 20px;
}

.comments {
    display: flex;
}

#listeBillets {
    text-align: center;
}

#listeComments h4 {
    text-align: center;
}

.footer {
    background-color: #E3E2E2;
}

.footer p {
    text-align: center;
}