{% extends "::base.html.twig" %}

{% block body %}
    <div class="col-md-10">
        <div class="container-fluid">
            <h2><u>Nouveau billet :</u></h2>
            <br/>
            {{ form_start(form) }}
            {{ form_end(form) }}
            <a href="javascript:history.go(-1)" class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-arrow-left"></span> Retour liste billets
            </a>
        </div>
    </div>
    {{ tinymce_init() }}
{% endblock %}

{% block aside %}
    {{ include('BlogBundle::asideAdmin.html.twig') }}
{% endblock %}