{% extends "::base.html.twig" %}

{% block body %}
    <div class="col-md-10">
        <div id="billetEntier">
            <h2>{{ billet.title }}</h2>
            <p style="text-align: justify">{{ billet.content | nl2br }}
            <div class="comments" id="comments">
                <div class="previousComments">
                    <h3>Commentaires :</h3>
                    {% include('BlogBundle:Comments:comment.html.twig') %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block aside %}
    <div class="col-md-2">
        <div class="sidebar-nav-fixed pull-right affix">
            <div class="well">
                {{ render(controller('BlogBundle:Blog:aside')) }}
            </div>
        </div>
    </div>
{% endblock %}