{% extends "::base.html.twig" %}

{% block body %}
    <div class="container-fluid col-md-12">
        <h2>Administation des billets</h2>
        
    </div>
{% endblock %}

{% block aside %}
    <h4><span class="glyphicon glyphicon-cog"></span> Administration</h4>
    <a href="{{ path('blog_billetsAdmin') }}"><h5>Billets</h5></a>
    <a href="{{ path('blog_commentsAdmin') }}">Commentaires</a>
{% endblock %}