{% extends "::base.html.twig" %}

{% block body %}
    <div class="col-md-10">
        <div id="billetEntier">
            <h2><u>{{ billet.title }}</u></h2>
            <p style="text-align: justify">{{ billet.content | raw }}</p>
            <div class="comments" id="comments">
                <div class="previousComments">
                    <h3>Commentaires :</h3>
                    {% include('BlogBundle:Comments:comment.html.twig') %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block aside %}
    {{ render(controller('BlogBundle:Blog:aside')) }}
{% endblock %}